/* font-family: 'Mansalva', cursive; */

/* * {
    box-sizing: inherit;
    text-align: left;
    margin: auto;
  } */


/* for the index page  */
  #erikIndex {
    text-align: center;
    font-family: "Rock Salt";
    color: black;
    font-size: 80px;
    position: relative;
    top: 38%;
    border: 10px solid orange;
    border-radius: 50%;
    border-top: 100px;
  }
  
  #buttonIndex {
    text-align: center;
    font-family: "Rock Salt", cursive;
    color: orange;
    background-color: black;
    margin-top: 60px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 10px solid black;
  }
  
  #indexButtonLink:link,
  #indexButtonLink:hover,
  #indexButtonLink:active,
  #indexButtonLink:visited {
    position: relative;
    top: 1px;
    color: orange;
    text-decoration: none;
  }
  
  #containerIndex {
    width: 75%;
    height: 600px;
    background: lightgrey;
    margin: 100px;
    align-content: center;
    border-radius: 25px;
    display: inline-block;
  }

/* all pages other than landing page container  */
.container {
  width: 75%;
  height: 600px;
  background: white;
  margin: 100px;
  align-content: center;
  border-radius: 25px;
  display: inline-block;
}

body {
  font-size: 24px;
  line-height: 32px;
  background: black;
  color: #777777;
  text-align: center;
}
/* For the header */

.headerlist {
  background: white;
  height: 60px;
  width: 70%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
   
}

li a {
  display: block;
  color: #777777;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  float: left;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-radius: 10px 10px 0px 0px;
  
}

#index {
  border-right: 1px solid black;
}

/* For the about me page   */

#aboutmeTitle {
  padding: 15px 15px;
  text-align: left;
}

#IMGaboutme {
  width: 200px;
  height: 200px;
  margin: 10px;
  float: left;
}
#aboutmeDetails {
  padding: 20px;
}

#techDetails{
  width: 75%;
  display: flex;
  justify-content: space-between;
}
#techContainer {
align-items: inherit;
}

#stackContainer {
align-items: inherit;
}

/* for the portfolio table   */
#linkedINlogo {
  width: 225px;
  height: 175px;
}

#gitHubLogo {
  width: 175px;
  height: 175px;
}
#gitHubLogo1 {
  width: 100px;
  height: 100px;
}
#resumeLogo {
  width: 275px;
  height: 175px;
}

#portfolioTitle {
  font-family: "Rock Salt", cursive;
  color: black;
  padding: 15px 15px;
  text-align: center;
  bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
}
/* for the github page  */
#gitHub {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gitProjectBox {
  flex-direction: row;
  justify-content: center;
}
/* for the contact info box */
.contactForm {
  max-width: 960px;
  font-size: 17px;
  background-color: white;
  border: 1px solid #dddddd;
  max-width: 960px;
}

form {
  padding: 20px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

textarea {
  height: 200px;
}

input[type="submit"] {
  background-color: #4aaaa5;
  color: white;
  padding: 12px 20px;
}


/* For the footer on all 3 pages */
footer {
  position: relative;
  bottom: 0;
  height: 40px;
  color: green;
  margin: auto;
}


