/* for the index page  */
/* #erikIndex {
  text-align: center;
  font-family: "Rock Salt";
  color: black;
  font-size: 80px;
  position: relative;
  top: 38%;
  border: 10px solid orange;
  border-radius: 50%;
  border-top: 100px;
} */

#logoImage {
  height: 500px;
  width: 500px;
  position: relative;
}

#buttonIndex {
  text-align: center;
  font-family: "Rock Salt", cursive;
  color: orange;
  background-color: black;
  border-radius: 10px;
  border: 2px dotted orange;
  width: 200px;
  height: 50px;
}

#indexButtonLink:link,
#indexButtonLink:hover,
#indexButtonLink:active,
#indexButtonLink:visited {
  position: relative;
  top: 1px;
  color: orange;
  text-decoration: none;
}

#containerIndex {
  margin: 100px;
  align-content: center;
  border-radius: 25px;
  display: inline-block;
}

/* all pages other than landing page container  */
.container {
  width: 75%;
  height: 650px;
  background: white;
  opacity: 95%;
  margin: 100px;
  align-content: center;
  border-radius: 5px;
  display: inline-block;
  overflow: scroll;
}

body {
  font-size: 24px;
  line-height: 32px;
  background-image: url("files/phillySkyline2.jpg");
  background-size: cover;
  color: #777777;
  text-align: center;
  overflow: hidden;
}
/* For the header */

.headerlist {
  background: white;
  height: 60px;
  width: 70%;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li a {
  display: block;
  color: #777777;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  float: left;
  border-right: 1px solid black;
  border-radius: 10px 0px;
}

/* #contact {
  border-right: 1px solid black;
} */

/* For the about me page   */

#aboutmeTitle {
  padding: 15px 15px;
  text-align: left;
}

#IMGaboutme {
  width: 200px;
  height: 200px;
  margin: 10px;
  float: left;
}
#aboutmeDetails {
  padding: 20px;
}

#techDetails {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
#techContainer {
  align-items: inherit;
}

#stackContainer {
  align-items: inherit;
}

#techLogo {
  width: 200px;
  height: 133px;
}

/* for the portfolio table   */
#linkedINlogo {
  width: 225px;
  height: 175px;
}

#gitHubLogo {
  width: 175px;
  height: 175px;
}
#gitHubLogo1 {
  width: 100px;
  height: 100px;
}
#resumeLogo {
  width: 275px;
  height: 175px;
}

#portfolioTitle {
  font-family: "Rock Salt", cursive;
  color: black;
  padding: 15px 15px;
  text-align: center;
  bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
}
/* for the github page  */
.portfolioContainer {
  overflow: scroll;
}
#gitHub {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gitProjectBox {
  flex-direction: row;
  justify-content: center;
  width: 300px;
  height: 400px;
  border: 2px solid black;
  border-radius: 5px;
}

.gitProjectPhoto,
.gitProjectImages {
  /* display: flex; */
  /* justify-content: center; */
  /* border: 1px solid black; */
  width: 300px;
  height: 150px;
}

.gitProjectText {
  font-size: 16px;
  text-align: center;
  line-height: 1;
}

/* for the contact info box */
form {
  font-family: "Rock Salt";
  text-align: left;
  color: black;
  height: 60%;
}
#contactRow {
  display: flex;
  justify-content: space-around;
}

input[type="text"],
select,
textarea {
  width: 500px;
}

label,
.pure-group {
  font-family: "Rock Salt";
  font-size: 20px;
  line-height: 1;
}
#contactFont {
  font-family: "Rock Salt";
}
textarea {
  height: 75px;
}

input[type="submit"] {
  font-family: "Rock Salt";
  position: relative;
  top: 1px;
  color: orange;
  text-decoration: none;
}

/* For the footer on all 3 pages */
footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  color: orange;
  margin: auto;
}
